<div>
    <div *ngIf="_name=='angular-test'">
        <h3>Angular Test</h3>
        <p>
            My personal site that was prototyped using the Angular CLI. Its codebase is
            maintained on this repository, and the website is hosted <a href="https://stshryu.github.io">here</a>.
            This project is where I test and practice building and formatting websites,
            so don't be surprised if bits and pieces of the site are under construction!
        </p>
        <p>
            <a href="https://github.com/stshryu/angular-test">Github Link</a>
        </p>
    </div>
    <div *ngIf="_name=='steebot'">
        <h3>Steebot</h3>
        <p>
            A <a href="https://discordapp.com/">Discord</a> bot that is currently being
            maintained as a augmented IRC helper. The bot is programmed to respond to
            a variety of text commands and I'm currently working on adding more functionality
            through a markov chain generator that can join a voice channel to imitate a
            user, using Microsoft Sam's glorious, booming voice.
        </p>
    </div>
    <div *ngIf="_name=='smlg-build'">
        <h3>Statistical Machine Learning Group @ FIU</h3>
        <p>
            A website that serves as the SMLG @ FIU's website. Written in Angular 2
            and deployed using the Angular CLI. A mirror of the site is hosted
            on my Github <a href="https://stshryu.github.io/smlg-build">here</a>.
        </p>
    </div>
    <div *ngIf="_name=='stshryu.github.io'">
        <h3>My Personal Page</h3>
        <p>
            The actual address that my Angular-Test repo is pushed to. Final versions
            of my site will be pushed to this repo and published using Github Pages.
        </p>
    </div>
</div>
