<div *ngIf="project">
    <h2>{{project.name}} Details</h2>

    <div><span>Name: </span>{{project.name}}</div>

    <div><span>Description: </span>{{project.description}}</div>

    <h3>Two Week Activity</h3>
    <div *ngIf="!commits">
        <p>Fetching Commit Data...</p>
    </div>
    <div *ngIf="commits">
        <div *ngFor="let commit of commits">
            <p><span>Week: </span>{{commit.week}}</p>
            <p><span>Commits: </span>{{commit.total}}</p>
        </div>
    </div>

    <div><span><a href="https://github.com/stshryu/{{project.name}}">
        View on Github
    </a></span></div>

    <button (click)="goBack()">go back</button>
</div>
