<h1>Seunghyun (Steve) Yoo</h1>
<img class="profile" src="./assets/images/profileBanner.png" alt="profile">
<p class="tagline">Software Developer, Graphics Designer</p>
<div class="about">
    <app-about></app-about>
</div>
<div class="dashboard">
    <app-dashboard (detailedProjectName)="pName=$event"></app-dashboard>
</div>
<div class="projectsDetail">
    <app-project-detail-inline [projectName]="pName"></app-project-detail-inline>
</div>
<div class="projects">
    <app-projects></app-projects>
</div>
<div class="contact">
    <app-contact></app-contact>
</div>
<!-- <router-outlet></router-outlet> -->
<!-- <nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/projects">Projects</a>
    <a routerLink="/contact">Contact Me</a>
</nav> -->
<!-- <router-outlet></router-outlet> -->
<!--app-messages></app-messages add back later maybe?? -->
