<h1>Hello World: {{title}}.</h1>
<app-about></app-about>
<app-dashboard (detailedProjectName)="pName=$event"></app-dashboard>
<app-project-detail-inline [projectName]="pName"></app-project-detail-inline>
<app-projects></app-projects>
<router-outlet></router-outlet>
<!-- <nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/projects">Projects</a>
    <a routerLink="/contact">Contact Me</a>
</nav> -->
<!-- <router-outlet></router-outlet> -->
<!--app-messages></app-messages add back later maybe?? -->
